.PokeDex{
    text-align: center;
}

.PokedexCards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.PokeDexWinner{
    color : #4caf50;
}

.PokeDexLoser{
    color : #e91e6c;
}